h1 {
	position: absolute;
	bottom: 3em;
	left: 1em;
	z-index: 1000;
	
}

h1.hide {
	z-index: 0;
	visibility: hidden;
	-webkit-transition: opacity 1s ease-out;
}

section#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 500;
}