body, form {
	font-family: 'Droid Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 15px;
	color: #2d3841;
}

div.tool > button {
	color: #fff;
	background-color: #2d3841;
	border: 0;
	margin: 0;
	padding: 10px;
	line-height: 15px;
	
	font-size: 1em;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);

	transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease; /* Firefox 4 */
	-webkit-transition: background-color 0.5s ease; /* Safari and Chrome */
	-o-transition: background-color 0.5s ease; /* Opera */
}
		
div.tool > button:hover {
	background-color: #3f4f5a;
	cursor:pointer;
}

div.tool > button span {
	display: inline-block;
	width: 15px;
}

div.tool > button.loading,
div.tool > button.active {
	background-color: #fff;
	color: #2d3841;
}

/* @group head */

h1 {
	position: absolute;
	bottom: 3em;
	left: 0em;
	z-index: 1000;

	padding: 0.25em 0.5em 0.25em 2em;

	font-size: 4em;
	font-weight: normal;
	color: #fff;
	background-color: #2d3841;
}

h2 {
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 4px 0 7px 0;
	border-bottom: 1px solid #96aeb0;
}

h1.hide {
	left: -99em;
	transition: left 2s;
	-moz-transition: left 2s; /* Firefox 4 */
	-webkit-transition: left 2s; /* Safari and Chrome */
	-o-transition: left 2s; /* Opera */
}

/* @end */

/* @group map */

section#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 500;
	
	transition: left 0.5s ease;
	-moz-transition: left 0.5s ease; /* Firefox 4 */
	-webkit-transition: left 0.5s ease; /* Safari and Chrome */
	-o-transition: left 0.5s ease; /* Opera */

}

section#map.showSidebar {
    left: 300px;
}

/* @end */


/* @group toolbox */

div#toolbox {
	position: absolute;
	top: 0;
	right: 1em;
	z-index: 1000;
}

	div#toolbox div.tool {
		position: relative;
		float: left;
		margin-left: 10px;
		overflow: hidden;
        padding: 0 3px 3px 3px;

		transition: width 0.5s;
		-moz-transition: width 0.5s; /* Firefox 4 */
		-webkit-transition: width 0.5s; /* Safari and Chrome */
		-o-transition: width 0.5s; /* Opera */
	}
	
		div#toolbox div.tool > button {
			float: left;
			-webkit-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
		}
		
		div#toolbox div.tool > button.loading,
		div#toolbox div.tool > button.active {
			-webkit-border-radius: 0 0 3px 0;
			border-radius: 0 0 3px 0;
		}

		div#toolbox div.tool div.spinner,
		div#toolbox div.tool div.content {
			width: 0;
			float: left;
			border: 0;
			overflow: hidden;
			box-shadow: 0 0 4px rgba(0,0,0,0.4);
			margin-right: 1px;

			transition: width 0.5s ease, padding 0.5s ease, height 0.5s ease, padding 0.5s ease;
			-moz-transition: width 0.5s ease, padding 0.5s ease, height 0.5s ease, padding 0.5s ease; /* Firefox 4 */
			-webkit-transition: width 0.5s ease, padding 0.5s ease, height 0.5s ease, padding 0.5s ease; /* Safari and Chrome */
			-o-transition: width 0.5s ease, padding 0.5s ease, height 0.5s ease, padding 0.5s ease; /* Opera */
		}
			
		/**
		 * LOADING STATE
		 */
		div#toolbox div.tool.loading {
			
		}
		
			div#toolbox div.tool div.spinner {
				width: 0;
				height: 35px;
				background: #fff url(img/ajax-loader.gif) no-repeat 50% 50%;
				-webkit-border-radius: 0 0 0 3px;
				border-radius: 0 0 0 3px;
			}

			div#toolbox div.tool div.spinner.loading {
				width: 35px;
			}
		
		/**
		 * ACTIVE
		 */
		
		
		div#toolbox div.tool div.content {	
			width: 0;
			height: 0;
			padding: 0;
			background-color: #fff;
			color: #2d3841;
		}

			div#toolbox div.tool div.content.active {	
				width: 300px;
				height: auto;
				max-height: 700px;
				padding: 10px 15px;
				-webkit-border-radius: 0 0 3px 3px;
				border-radius: 0 0 3px 3px;
			}

/* @group Search Place */

div#searchPlace > div.content > input[type="text"] {
	width: 288px;
	padding: 5px;
	font-size: 12px;
	color: #2d3841;
}

div#searchPlace > div.content > ul.resultList {
	margin: 0;
	padding: 0;
	list-style: none;
	height: auto;
	max-height: 550px;
	overflow-y: auto;
}

	div#searchPlace > div.content > ul.resultList li {
		
	}
	
    div#searchPlace > div.content > ul.resultList li.noResult,
	div#searchPlace > div.content > ul.resultList li a {
		display: block;
		color: #2d3841;
		text-decoration: none;
		padding: 7px 5px;
        line-height: 1.2;
	}
	
	div#searchPlace > div.content > ul.resultList li a:hover {
		background-color: #2d3841;
		color: #fff;
	}

/* @end */


/* @group Layer Switcher */

#layer fieldset {
	margin-bottom: 30px;
}

#layer fieldset legend {
	font-size: 15px;
	margin-bottom: 15px;
	line-height: 30px;
}

	#layer select {
		width: 298px;
		font-size: 13px;
	}
	
	#layer fieldset .btn-group button {
		margin-right: 0;
		width: 150px;
		font-size: 13px;
	}
	
	#layer fieldset label {
		font-size: 13px;
	}
	
	#layer fieldset label:hover {
		cursor: pointer;
	}



/* @end */

/* @end */


/* @group Sidebar */

#sidebar {
	z-index: 750;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 35px;
	
	transition: width 0.5s ease, padding 0.5s ease;
	-moz-transition: width 0.5s ease, padding 0.5s ease; /* Firefox 4 */
	-webkit-transition: width 0.5s ease, padding 0.5s ease; /* Safari and Chrome */
	-o-transition: width 0.5s ease, padding 0.5s ease; /* Opera */
}

#sidebar.active {
	width: 335px;
}

#sidebar .content {
	width: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	
	transition: width 0.5s ease, padding 0.5s ease;
	-moz-transition: width 0.5s ease, padding 0.5s ease; /* Firefox 4 */
	-webkit-transition: width 0.5s ease, padding 0.5s ease; /* Safari and Chrome */
	-o-transition: width 0.5s ease, padding 0.5s ease; /* Opera */
}

#sidebar .content.active {
	width: 270px;
	padding: 10px 15px;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

div#sidebar div.tool > button {
	float: left;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 3px 3px 0;
	position: absolute;
	left: 0px;
	
	transition: left 0.5s ease;
	-moz-transition: left 0.5s ease; /* Firefox 4 */
	-webkit-transition: left 0.5s ease; /* Safari and Chrome */
	-o-transition: left 0.5s ease; /* Opera */

}

div#sidebar div#legend > button {
	bottom: 50px;
}

body.showSidebar div#sidebar div.tool > button {
	left: 301px;
}

/* @end */